@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Itim&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mina:wght@400;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poiret+One&family=Montserrart:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrart:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*

CSS rules to specify families

font-family: 'Baloo 2', cursive;
font-family: 'Barlow', sans-serif;
font-family: 'Genos', sans-serif;
font-family: 'Itim', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Mina', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;

*/

@font-face {
  font-family: sansation;
  src: url('../sansation/Sansation_Regular.ttf');
}

@font-face {
  font-family: sansation_bold;
  src: url('../sansation/Sansation_Bold.ttf');
}

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --text-color-primary: #179931;
  --text-color-secondary: aliceblue;
}

body {
  width: 100%;
  font-family: sansation;
}

header {
  width: 100%;
  height: max-content;
  background: #2f2f2f;
}

header nav {
  position: static;
  padding: 10px 3%;
}



/* ===== Main section ===== */

main {
  min-height: 100vh;
}

.add-vacancy-form {
  width: 1360px;
  max-width: 1360px;
  display: flex;
  margin: 100px auto;
  background: #2f2f2f;
  border-radius: 40px;
  overflow: hidden;
}



/* ===== Create order form's left section ===== */

.add-vacancy-form .left_image {
  flex: 1.22;
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
}



/* ===== Create order form's right section ===== */

.add-vacancy-form form {
  flex: 1;
  color: var(--text-color-secondary);
  padding: 50px;
}

.add-vacancy-form h1 {
  font-size: 25px;
  text-align: center;
}

.add-vacancy-form .form_top {
  padding: 40px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--text-color-secondary);
}

.add-vacancy-form .category,
.add-vacancy-form .price_range {
  margin-bottom: 20px;
}

.add-vacancy-form .category label,
.add-vacancy-form .price_range label,
.add-vacancy-form .estimated_time label {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 20px;
}

.add-vacancy-form .category select {
  width: 100%;
  padding: 8px 20px;
  background: var(--text-color-secondary);
  border: .5px solid var(--text-color-secondary);
  outline: none;
  border-radius: 30px;
}




.add-vacancy-form .price_range .inputs,
.add-vacancy-form .price_range .inputs div {
  display: flex;
  align-items: center;
}

.add-vacancy-form .price_range .inputs label {
  font-size: 20px;
  margin: 0;
  margin-right: 20px;
}




.add-vacancy-form .price_range .inputs input,
.add-vacancy-form .estimated_time input {
  padding: 8px 20px;
  background: var(--text-color-secondary);
  border: .5px solid var(--text-color-secondary);
  outline: none;
  border-radius: 30px;
  margin-right: 20px;
}

.add-vacancy-form .estimated_time label {
  display: block;
}

.add-vacancy-form .estimated_time input {
  width: 100%;
  margin: 0;
}



.add-vacancy-form .contacts h2 {
  margin-bottom: 40px;
  text-align: center;
}

.add-vacancy-form .contacts .contact_details {
  margin-bottom: 40px;
}

.add-vacancy-form .contacts .contact_details .inputs {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.add-vacancy-form .contacts .contact_details label {
  display: inline-block;
  font-size: 20px;
  width: 150px;
}

.add-vacancy-form .contacts .contact_details input {
  width: 100%;
  background: var(--text-color-secondary);
  padding: 8px 20px;
  margin: 0;
  border: .5px solid var(--text-color-secondary);
  outline: none;
  border-radius: 30px;
}





.add-vacancy-form .contacts .description label {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 30px;
}

.add-vacancy-form .contacts .description textarea {
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

.add-vacancy-form .contacts .description .attach_file,
.add-vacancy-form .submit_button {
  padding: 8px 20px;
  background: var(--text-color-secondary);
  border: none;
  outline: none;
  border-radius: 30px;
}

.add-vacancy-form .submit_button {
  float: right;
  color: var(--text-color-secondary);
  background: var(--text-color-primary);
  font-size: 20px;
}




@media only screen and (max-width:1450px) {
  .add-vacancy-form {
    width: 80%;
    flex-direction: column;
  }
}


@media only screen and (max-width:815px) {
  .add-vacancy-form {
    width: 85%;
  }
}


@media only screen and (max-width:790px) {
  .add-vacancy-form {
    width: 90%;
  }

  .add-vacancy-form img {
    display: none;
  }

  .add-vacancy-form .price_range .inputs,
  .add-vacancy-form .price_range .inputs div {
    flex-direction: column;
    width: 100%;
  }

  .add-vacancy-form .price_range .inputs div label,
  .add-vacancy-form .price_range .inputs div input {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

}


@media only screen and (max-width: 600px) {
  .add-vacancy-form {
    border-radius: 25px;
  }

  .add-vacancy-form form {
    padding: 10%;
  }

  .add-vacancy-form .contacts .contact_details .inputs {
    flex-direction: column;
  }

  .add-vacancy-form .contacts .contact_details label,
  .add-vacancy-form .contacts .contact_details input {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .add-vacancy-form .submit_button {
    width: 100%;
    margin-top: 30px;
  }
}
