@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Itim&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mina:wght@400;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poiret+One&family=Montserrart:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrart:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*

CSS rules to specify families

font-family: 'Baloo 2', cursive;
font-family: 'Barlow', sans-serif;
font-family: 'Genos', sans-serif;
font-family: 'Itim', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Mina', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;

*/

@font-face {
  font-family: sansation;
  src: url('../sansation/Sansation_Regular.ttf');
}

@font-face {
  font-family: sansation_bold;
  src: url('../sansation/Sansation_Bold.ttf');
}

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sansation;
  scroll-behavior: smooth;
}

:root {
  --text-color-primary: #179931;
  --text-color-secondary: #fff;
}

body {
  width: 100%;
}

header {
  width: 100%;
  min-height: 100vh;
  padding: 3% 5%;
  overflow: scroll;
}

header .logo,
footer div .logo {
  display: flex;
}

header .logo {
  justify-content: center;
}

header .logo a,
footer div .logo a {
  text-decoration: none;
  color: var(--text-color-secondary);
  font-size: 25px;
  font-weight: bold;
  font-family: sansation_bold
}

header .logo a {
  color: var(--text-color-primary);
}

header .logo a span {
  color: var(--text-color-primary);
}



/*------- Sign up section -------*/

.signup {
  width: 100%;
  min-height: 100%;
  background: #fffb;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.signup form {
  width: 550px;
  height: max-content;
  background: var(--text-color-secondary);
  padding: 30px 40px;
  border-radius: 20px;
  border: .5px solid gray;
}

.signup form>h2,
.signup form>h3 {
  text-align: center;
  color: var(--text-color-primary);
  margin-bottom: 20px;
}

.signup form>div {
  width: 100%;
  margin-bottom: 15px;
}

.signup form .user_type {
  height: max-content;
  display: flex;
  overflow: hidden;
}

.signup form .user_type>div {
  border: .5px solid gray;
  border-radius: 30px 0 0 30px;
  height: max-content;
  overflow: hidden;
  flex: 1;
}

.signup form .user_type>div:first-child {
  border-right: .25px solid gray;
}

.signup form .user_type>div:last-child {
  border-radius: 0 30px 30px 0;
  border-left: .25px solid gray;
}

.signup form .user_type>div input {
  width: max-content;
  display: none;
}

.signup form .user_type>div label {
  width: 100%;
  height: 100%;
  color: gray;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  display: inline-block;
  transition: .1s;
}

.signup form .user_type>div input:checked~label {
  color: var(--text-color-secondary);
  background: var(--text-color-primary);
}

.signup form>div.name_input {
  display: flex;
}

.signup form>div.name_input div {
  flex: 1;
}

.signup form div label {
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  color: var(--text-color-primary);
}

.signup form div input {
  width: 100%;
  padding: 7px 10px;
  border-radius: 30px;
  border: .5px solid gray;
  font-size: 14px;
}

.signup form>div.country_input>div {
  border: .5px solid gray;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.signup form>div.country_input select {
  appearance: none;
  width: 95%;
  border: none;
  outline: none;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 30px;
  background: none;
}

.signup form .conditions div {
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.signup form .conditions input {
  width: max-content;
  margin-right: 10px;
}

.signup form .conditions label {
  font-size: 14px;
  color: black;
  flex: 2;
}

.signup form .conditions label a {
  text-decoration: none;
  color: var(--text-color-primary);
}

.signup form>input,
.signup form .button {
  text-decoration: none;
  width: max-content;
  padding: 5px 50px;
  display: block;
  background: var(--text-color-primary);
  color: var(--text-color-secondary);
  border: 1px solid var(--text-color-primary);
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: .3s;
}

.signup form>input:hover,
.signup form .button:hover {
  background: var(--text-color-secondary);
  color: var(--text-color-primary);
  border: 1px solid var(--text-color-primary);
}

.signup form hr {
  background: black;
  height: 1px;
  border: none;
}

.signup form hr+div p {
  text-align: center;
  font-size: 14px;
  margin: 10px auto;
}




@media only screen and (max-width:550px) {
  .signup form {
    padding: 8%;
  }
  .signup form .user_type {
    flex-direction: column;
  }

  .signup form .user_type>div:first-child {
    border-radius: 30px;
    margin-bottom: 20px;
  }

  .signup form .user_type>div:last-child {
    border-radius: 30px;
  }

  .signup form>div.name_input {
    flex-direction: column;
  }

  .signup form>div.name_input div:first-child {
    margin-bottom: 20px;
  }
}
